/** Animations */
@keyframes clickanim {
     0%,
     100% {
          scale: 1;
     }
     50% {
          scale: 0.7;
     }
}
@keyframes buttonanim {
     0% {
          scale: 1;
          background-color: var(--color-sec);
     }
     100% {
          scale: 1.1;
          background-color: var(--color-sec-hover);
     }
}
@keyframes deletebuttonanim {
     0% {
          scale: 1;
     }
     100% {
          background-color: rgb(252, 117, 117);
          color: black;
     }
}
@keyframes greenbuttonanim {
     0% {
          scale: 1;
     }
     100% {
          background-color: rgb(127, 201, 127);
          transform: scale(1.1);
     }
}

/** Navbar animation*/
nav:hover {
     transform: translateX(270px);
     transition: all 0.1s linear;
}

.choicetagcont.active {
     top: 0px;
     left: 0px;
     z-index: 10;
     transition: all 0.1s linear;
}
.containercreatetags.active {
     top: 0px;
     left: 0px;
     z-index: 10;
     transition: all 0.1s linear;
}

.pretodo img:hover {
     transform: scale(1.1);
     transition: all 0.1s linear;
}
.containerx button:hover {
     transform: scale(1.2);
     transition: all 0.1s linear;
}

.todo img:hover {
     transform: scale(1.2);
     transition: all 0.1s linear;
}

.settings p:hover {
     transform: scale(1.1);
     transition: all 0.1s linear;
}

.resetclr:hover,
.buttonreset:hover,
.deleteproject:hover {
     animation: deletebuttonanim 0.1s linear forwards;
     transition: all 0.2s linear;
     cursor: pointer;
}

.settings.active {
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50%;
}

/** Note Text area  */
.closenotebutton:hover {
     background-color: rgba(0, 0, 0, 0.055);
}
.editorcontainer.active {
     display: flex;
}

/** Projects  */
.grouptitle button:hover {
     animation: buttonanim 0.1s linear forwards;
}
.project:hover,
.backproject:hover,
.backprojects:hover {
     animation: buttonanim 0.1s linear forwards;
     transition: all 0.1s linear;
     cursor: pointer;
}
.openproject:hover {
     cursor: pointer;
}
.emojisinput {
     cursor: pointer;
}
.addnewtodoinproject * {
     cursor: pointer;
}
.submitonboarding:hover {
     animation: greenbuttonanim 0.1s linear forwards;
     transition: all 0.1s linear;
     cursor: pointer;
}

.project:active,
.backproject:active,
.openproject:active,
.resetclr:active,
.buttonreset:active,
.deleteproject:active,
.backprojects:active,
.submitonboarding:active {
     animation: clickanim 0.2s linear;
}
