:root {
     --font-main: "Inter", sans-serif;
     --color-main: rgb(177, 177, 147);
     --color-sec: rgb(231, 231, 217);
     --color-sec-hover: rgb(228, 228, 228);
     --tag-color: #ffffff;
}

/** Basic padding/margin: 15px */

body {
     display: flex;
     flex-direction: row;
     font-family: var(--font-main);
     margin: 0px;
     padding: 0px;
     background-color: var(--color-sec);
}

/** STYLE OF NAVBAR */

nav {
     position: absolute;
     user-select: none;
     height: 100vh;
     width: 250px;
     left: -270px;

     display: flex;
     flex-direction: column;
     gap: 15px;
     align-items: center;

     background-color: var(--color-main);
     padding: 15px;
     padding-right: 30px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     z-index: 10;
}
nav.locked {
     position: relative;
     left: 0px;
     padding-left: 15px;
     margin-left: 0px;
}
nav.locked:hover {
     transform: translateX(0px) !important;
}
nav img {
     width: 15em;
}

nav button {
     font-size: 2rem;
     background-color: var(--color-sec);
     width: 70px;
     height: 70px;
     outline: none;
     border: none;
     border-radius: 10px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     cursor: pointer;
     margin: 0px;
}

nav button:hover {
     transform: scale(1.1);
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.3);
     background-color: var(--color-sec-hover);
     transition: all 0.1s linear;
}
nav button:active {
     animation: clickanim 0.6s linear;
     background-color: var(--color-main);
}

.containerbuttons {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     gap: 10px;
}
.projetsbtn {
     flex: 1;
}

.locknavbar {
     height: 20px;
     width: auto;
     align-self: flex-end;
     margin: auto 0 30px 0;
     cursor: pointer;
}
.doublearrownav {
     display: block;
     margin-left: 10%;
     margin: auto 5%;
     margin-right: 0%;
     font-size: 3rem;
     animation: bumpLeft 3s infinite;
     user-select: none;
}
.doublearrownav.locked {
     display: none;
}

/** Black Background Overlay */
.blackbackground {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.6);
     z-index: 5;
     display: none;
}

.blackbackground.active {
     display: block;
     pointer-events: auto;
}

/** Style of Tag Creation*/

.containercreatetags,
.choicetagcont {
     height: 100vh;
     display: flex;
     flex-direction: column;
     padding: 15px;
     background-color: var(--color-main);
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     align-items: center;
}
.containercreatetags input {
     background-color: var(--color-sec);
     border: none;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     margin-bottom: 10px;
}

.containercreatetags input:focus {
     border: none;
     outline: none;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.6);
}
.enterText2 {
     font-size: 10px;
     font-style: italic;
     opacity: 0.6;
     text-align: left;
     align-self: flex-start;
     margin-top: 0px;
     margin-bottom: 10px;
}

/** Tags' style*/

.tagtest {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 10px;
     background-color: var(--tag-color);
     border-radius: 5px;
     width: fit-content;
     padding-top: 0.3rem;
     padding-bottom: 0.3rem;
     padding-left: 1rem;
     padding-right: 1rem;
     margin-top: 15px;
     cursor: pointer;
}
.tagtest button {
     margin-right: 10px;
     background: none;
     border: none;
}
.tagtest button:hover {
     transform: scale(1.1);
     transition: all 0.1s linear;
}

/** Style of Tag choice*/

/* Container is up there*/

.choicetagcont p {
     background-color: var(--color-sec);
     border-radius: 10px;
     padding: 10px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
}

/** Position of both  */
.choicetagcont {
     position: absolute;
     top: 0px;
     left: -210px;
}
.containercreatetags {
     position: absolute;
     top: 0px;
     left: -280px;
     z-index: 10;
}

/** Main page*/

section {
     margin-left: 15px;
     width: 40%;
}
section h1 {
     font-size: 3rem;
     margin-bottom: 10px;
}

.containerimportanttodos {
     overflow: visible;
     height: auto;
}

.todobundle {
     display: flex;
     gap: 10px;
     align-items: center;
     margin-bottom: 20px;
}
.addtodobtn {
     background-color: var(--color-main);
     padding: 10px;
     border: none;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     border-radius: 10px;
}
/** PRETODO container*/
.containerx {
     display: none;
     flex-direction: column;
     align-items: center;
     height: 80px;
     width: 60%;
     margin-bottom: 30px;
     margin-left: 2%;
}
.containerx.active {
     display: flex;
}
.pretodo {
     display: flex;
     gap: 10px;
     height: 50%;
     width: 100%;
     padding: 10px;
     margin-left: 10px;
     background-color: var(--color-sec);
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.3);
     border-radius: 15px;
     margin-bottom: 0px;
}
.pretodo img {
     width: auto;
     height: 80%;
     padding: 1%;
     cursor: pointer;
     user-select: none;
}
.iteminput {
     flex: 1;
     align-self: center;
     height: 70%;

     background-color: var(--color-sec);
     border: none;
     border-radius: 10px;
}
.iteminput:focus {
     outline: none;
}

.containerx button {
     display: flex;
     align-items: center;

     background-color: var(--color-sec);
     border: none;
     font-size: xx-large;
     height: 50%;
     cursor: pointer;
}
.enterText {
     font-style: italic;
     opacity: 0.4;
     user-select: none;
}

/* * TODOs style */
.containertodo {
     display: grid;
     grid-template-columns: repeat(2, minmax(0, 1fr));
     gap: 25px;
     border-radius: 10px;
     overflow: hidden;
     max-width: 95%;
     padding-right: 10px;
}

.mainpagecontainer {
     width: 100%;
     height: calc(100vh - 20px);
     max-height: 100vh;
     overflow-x: hidden;
     overflow-y: auto;
     margin-left: 20px;
     padding: 0px;
}

.containerimportanttodos {
     margin: 0px;
     width: 100%;
     scrollbar-width: thin;
     scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
     overflow: hidden;
}

.containerimportanttodos::-webkit-scrollbar {
     width: 6px;
     /* Largeur de la scrollbar */
}

.containerimportanttodos::-webkit-scrollbar-track {
     background: transparent;
     /* Fond transparent */
}

.containerimportanttodos::-webkit-scrollbar-thumb {
     background: rgba(0, 0, 0, 0.2);
     /* Couleur semi-transparente */
     border-radius: 3px;
}

.containerimportanttodos::-webkit-scrollbar-thumb:hover {
     background: rgba(0, 0, 0, 0.4);
     /* Plus visible au hover */
}

.todo {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-bottom: 15px;
     width: 100%;
}
.todo img {
     width: auto;
     height: 40px;
     margin: 5px;
     cursor: pointer;
     user-select: none;
}
.todo p {
     flex: 1;
}
.itemtext {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 100%;
     cursor: pointer;
     transition: all 0.3s ease;
}

.itemtext.expanded {
     white-space: normal;
     overflow-wrap: break-word;
     max-width: 100%;
}

.containertagsintodo {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 15px;
     padding-bottom: 15px;
     margin-left: 15px;
     flex-wrap: wrap;
     max-width: 100%;
}
.containertagsintodo button {
     margin-top: 15px;
     background-color: var(--color-sec);
     border: none;
     border-radius: 5px;
     font-size: x-large;
     cursor: pointer;
}

.containertodo2 {
     background-color: white;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     margin-bottom: 15px;
     width: 95%;
}

/* * Settings  */
.settings {
     z-index: 105;
     position: absolute;
     top: 25%;
     left: -1000px;

     background-color: var(--color-main);
     padding: 15px;
     border-radius: 10px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
}

.settings p {
     background-color: var(--color-sec);
     width: fit-content;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     margin: 0px;
}

.resetclr,
.buttonreset {
     margin-top: 15px;
     color: red;
     background-color: var(--color-sec);
     border: none;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
}
.buttonreset {
     margin: 0px;
     font-size: xx-large;
     font-weight: bold;
}
.removetagbtn {
     user-select: none;
     border: none;
     cursor: pointer;
     margin: 0px;
}

/** Notes style  */
.containernotes {
     width: 100%;
     gap: 10px;
     margin-left: 0%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin-bottom: 20px;
}
.notebundle {
     display: flex;
     gap: 10px;
     align-items: center;
     margin-bottom: 5%;
     margin-bottom: 0px;
}
.addnotebtn {
     background-color: var(--color-main);
     padding: 10px;
     border-radius: 10px;
     border: none;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     user-select: none;
     cursor: pointer;
}

.notebtn {
     background-color: var(--color-main);
     padding: 5px;
     border-radius: 5px;
     max-width: fit-content;
     text-align: center;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
}
.titlemain {
     margin: 0px;
     font-size: 2rem;
     margin-bottom: 0px;
}

.editorcontainer {
     display: none;
     flex-direction: column;

     background-color: var(--color-main);
     border-radius: 15px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.2);
     gap: 0px;

     width: 70%;
     height: 70vh;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

     transition: all 0.2s linear;

     z-index: 100;
}

.editorcontainer.big {
     width: 100%;
     height: 100%;
     border-radius: 0px;
     transition: all 0.2s linear;
}

.flexcontaineredit {
     display: flex;
     justify-content: space-between;
     padding: 20px;
     gap: 10px;
     padding-bottom: 10px;
     margin-bottom: 0px;
}
.flexcontaineredit * {
     margin-bottom: 0px;
}
.notetitleeditor {
     width: 50%;
     background-color: transparent;
     border: none;
     flex: 1;
     cursor: pointer;
     font-size: 1.5rem;
     margin-bottom: 0px;
}
.notetitleeditor:focus {
     text-decoration: underline 1px black;
     outline: none;
}
.closenotebutton {
     font-size: 2rem;
     opacity: 0.6;
     background-color: transparent;
     border: none;
     border-radius: 5px;
     user-select: none;
     cursor: pointer;
}
.notebutton {
     display: flex;
     align-items: center;
     width: fit-content;
     gap: 10px;
     margin: 0px;

     user-select: none;
     cursor: pointer;
}
.notedelbtn {
     border: none;
     border-radius: 5px;
     user-select: none;
     cursor: pointer;
     color: red;
}
.fullscreenote {
     background-color: transparent;
     border: none;
     font-size: 2rem;
     user-select: none;
     cursor: pointer;
}
