/*! Projects  */

/** Pop up*/
.projectspopup {
     visibility: hidden;
     opacity: 0;
     pointer-events: none;

     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

     background-color: var(--color-main);
     height: 70%;
     width: 70%;
     padding: 40px;
     padding-top: 0px;
     border-radius: 10px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.6);
}
.projectspopup.active {
     visibility: visible;
     opacity: 1;
     pointer-events: auto;
}
.grouptitle {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 20px;
}
.grouptitle * {
     margin: 10px 0 0 0;
}
.grouptitle button {
     background-color: var(--color-sec);
     border: none;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     padding: 10px;
     font-weight: bold;
     border-radius: 5px;
}

/** PopupCard Style  */
.projectsgrid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     margin-top: 30px;
}
.project {
     background-color: var(--color-sec);
     padding: 10px;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
}
.emoji {
     font-weight: bold;
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
     font-size: 1.5rem;
     margin: 0px;
}
.projectDesc {
     margin-top: 0px;
}
.openproject {
     margin-top: auto;
     background-color: var(--color-main);
     color: whitesmoke;
     padding: 5px;
     width: 50%;
     align-self: center;
     border: none;
     border-radius: 10px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
}

/** Onboarding  */
.projectonboarding {
     display: none;
     flex-direction: column;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

     height: 70%;
     width: 70%;
     background-color: var(--color-main);
     padding: 40px;
     padding-top: 0px;
     border-radius: 10px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.6);
}
.projectonboarding.active {
     display: flex;
}
.onboardingtitle {
     border: none;
     border-bottom: 1px black solid;
     background-color: var(--color-sec);
     font-size: 1.5rem;
     padding: 10px;
     outline: none;
}
.onboardingdesc {
     border: none;

     background-color: var(--color-sec);
     border-radius: 10px;
     margin-top: 10px;
     font-size: 1.5rem;
     padding: 10px;
     outline: none;
}
.onbemojis {
     background-color: var(--color-sec);
     border-radius: 10px;
     margin-top: 10px;
}
#emojionboarding {
     position: absolute;
     left: -9999px;
     background-color: red;
}
.submitonboarding {
     max-width: 30%;
     align-self: center;

     background-color: var(--color-sec);
     border: none;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     padding: 10px;
     font-weight: bold;
     border-radius: 10px;
}

.buttonscontainer {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 30px;
     margin-top: 30px;
}
.backprojects {
     border: none;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     background-color: var(--color-sec);
     padding: 10px;
     border-radius: 10px;
}
/* * Project page */

.projectcontainer {
     display: none;
     flex-direction: column;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

     height: 70%;
     width: 70%;
     background-color: var(--color-main);
     padding: 40px;
     padding-top: 0px;
     border-radius: 10px;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.6);
     overflow-y: auto;
}
.projectcontainer.active {
     display: flex;
}
.inproject {
     margin-bottom: 0px;
}
.titleinproject {
     background-color: transparent;
     border: none;
     outline: none;
     cursor: pointer;
}
.descinproject {
     margin-top: 0px;
     background-color: transparent;
     border: none;
     outline: none;
     cursor: pointer;
}
.todoinprojects {
     display: flex;
     flex-direction: row;
     gap: 10px;

     background-color: var(--color-sec);
     padding: 10px;
     border-radius: 10px;
}
.containertodoinproject {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     padding: 10px;
     border-radius: 10px;
}
.buttoncontainer {
     margin-left: auto;
}
.deleteproject,
.backproject {
     margin-right: 10px;
     border: none;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     background-color: var(--color-sec);
     padding: 10px;
     border-radius: 10px;
}

.tagtitle {
     display: flex;
     flex-direction: row;
     align-items: center;
}

.newtodocontainer {
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
}
.newtodocontainer p {
     font-size: 1.5rem;
}
.addnewtodoinproject {
     background-color: var(--color-sec);
     padding: 15px;
     border-radius: 5px;
}
.newtodoinput {
     border: none;
     outline: none;
     background-color: transparent;
}
