.ql-container {
     border: none !important;
     overflow-y: auto;
}
.editor {
     margin-top: 0px;
}
.ql-editor {
     border: none;
     word-wrap: break-word;
     overflow-wrap: break-word;
}
.ql-toolbar.ql-snow {
     border: none !important;
     border-bottom: 1px black solid !important;
}
