@media (min-width: 600px) and (max-width: 1200px){
     .containerimportanttodos {
          width: 100%;
     }
     .settings.active {
          top: 5%;
          left: 35%;
          width: 55%;

          transition: all 0.1s linear;
     }
     .containerx {
          width: 60%;
     }
     .containerimportanttodos h1 {
          width: 60%;
     }
}