@media (min-width: 600px) and (max-width: 1200px) {
     .settings.active {
          top: 5%;
          left: 35%;
          width: 55%;

          transition: all 0.1s linear;
     }
     .containerx {
          width: 60%;
     }
     .containerimportanttodos h1 {
          width: 60%;
     }
}
@media (min-width: 1201px) {
     .containertodo {
          grid-template-columns: repeat(3, minmax(0, 1fr));
     }
}
