:root {
     --font-main: 'Inter', sans-serif;
     --color-main: rgb(177, 177, 147);
     --color-sec: rgb(231, 231, 217);
     --color-sec-hover: rgb(228, 228, 228);
}



body {
     display: flex;
     flex-direction: row;
     font-family: var(--font-main);
     background-color: var(--color-sec);
     margin: 0px;
     overflow: hidden;
}


/* * Style de la Navbar verticale (pour un rendu un peu plus moderne*/
nav {
     background-color: var(--color-main);
     display: flex;
     flex-direction: column;
     align-items: center;
     border: 1px black solid;
     height: 100vh;
     padding-right: 50px;
     padding-left: 15px;
}

.logo { /* Logo */
     margin-top: 15px;
     height: 70px;
     width: auto;
}
.buttonadd { /* Le bouton pour ajouter une todo*/
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
     background-color: var(--color-sec);
     border-radius: 15px;
     width: 100px;
     height: 100px;
     cursor: pointer;
     box-shadow: 1px 1px 6px rgb(0,0,0,0.1);
}
.buttonadd:hover { /*Animation de hover pour le bouton*/
     background-color: var(--color-sec-hover);
     box-shadow: 1px 1px 6px rgb(0,0,0,0.3);
     transform: scale(1.1);
     transition: all 0.2s;
}

.buttonreset {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
     background-color: var(--color-sec);
     border-radius: 15px;
     width: 100px;
     height: 100px;
     cursor: pointer;
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     color: red;
}
.buttonreset:hover {
     background-color: rgb(252, 166, 166);
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.3);
     transform: scale(1.1);
     transition: all 0.2s;
}


/** Partie Display des Todo*/

h1 {
     margin-left: 15px;
     font-size: 50px;
}


/** Div de chaque TODO*/
.todo {
     background-color: whitesmoke;
     box-shadow: 1px 1px 6px rgb(0,0,0,0.1);
     border-radius: 15px;


     
     width: 90%;
     min-height: 50px;
     display: flex;
     flex-direction: row;
     justify-content: end;
     align-items: center;
     margin-left: 15px;
     margin-top: 15px;
}

.todo img {
     align-self: center;
     height: 40px;
     width: auto;
     margin-right: 15px;
}
.todo img:hover {
     scale: 1.1;
     transition: all 0.2s linear;
}
 
.todo input {
     margin-left: 15px;
}
.todo p {
     flex-grow: 1;
}

.pretodo {
     background-color: var(--color-sec);
     box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
     border-radius: 15px;
     
     width: 100%;
     min-height: 50px;
     display: flex;
     flex-direction: row;
     justify-content: end;
     align-items: center;
     margin-left: 15px;
}
.pretodo img {
     align-self: center;
     height: 40px;
     width: auto;
     margin-right: 15px;
}
.pretodo img:hover {
     scale: 1.1;
     transition: all 0.2s linear;
}
.pretodo input {
     margin-left: 15px;
}
.pretodo p {
     flex-grow: 1;
}

/** Bloc de confirmation pour mettre une nouvelle ToDo*/

.iteminput {
     flex-grow: 1;
     border: none;
     background-color: var(--color-sec);
}
.iteminput:focus {
     outline: none;
}

.containerx {
     display: flex;
     flex-direction: row;
     gap: 15px;
     align-items: center;
}
.validate {
     border-radius: 15px;
     background-color: transparent;
     border: none;

     font-size: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}
.validate:hover{
     transform: scale(1.1);
     transition: all 0.2s linear;
}

/** Container pour les todo lié à js:script.js: 80*/
.containertodo {
     display: flex;
     flex-direction: column;
     gap: 10px;
     height: calc(100vh - 130px);

     overflow-y: scroll;
     overflow-x: hidden;
     flex: 1;
}
.containertodo::-webkit-scrollbar {
     width: 6px;
     /* Largeur de la scrollbar */
}

.containertodo::-webkit-scrollbar-track {
     background: transparent;
     /* Fond transparent */
}

.containertodo::-webkit-scrollbar-thumb {
     background: rgba(0, 0, 0, 0.2);
     /* Couleur semi-transparente */
     border-radius: 3px;
}

.containertodo::-webkit-scrollbar-thumb:hover {
     background: rgba(0, 0, 0, 0.4);
     /* Plus visible au hover */
}


@media (max-width: 800px) and (max-height: 600px) {
     
     body {
          overflow: hidden;
     }
     .todo {
          width: 90%;
     }
     .containertodo {
          display: flex;
          flex-direction: column;
          gap: 10px;
     
          overflow-y: scroll;
          overflow-x: hidden;
     }
}