.containertodo {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     
     background-color: whitesmoke;
          box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
          border-radius: 15px;
     
          width: 90%;
          min-height: 50px;
          display: flex; 
          flex-direction: column;
}

.todo {
     display: flex;
     flex-direction: row;
     justify-content: end;
     align-items: center;
     margin-left: 15px;
     margin-top: 15px;
}

.todo img {
     align-self: center;
     height: 40px;
     width: auto;
     margin-right: 15px;
}

.todo img:hover {
     scale: 1.1;
     transition: all 0.2s linear;
}

.todo input {
     margin-left: 15px;
}

.todo .itemtext {
     flex-grow: 1;
}

.todo .addtag {
     margin-right: 15px;
     font-size: large;
     font-family: var(--font-main);
     font-weight: bold;
}

.tagtest {
     border-radius: 5px;
     background-color: rgb(146, 209, 224);
     border: 1px solid rgb(90, 128, 138);
     width: 10%;
     margin-left: 15px;
}

.tagtest {
     display: flex;
     align-items: center;
     justify-content: center;
}
.containertags {
     display: flex;
     flex-direction: row;
}
