<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>FlyingToDo</title>
     <link rel="stylesheet" href="../css/style.css">
     <script src="../script/script.js" defer></script>

     <link rel="preconnect" href="https://fonts.googleapis.com"> 
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

     <link rel="icon" href="../img/icons8-check-mark-48.png">

</head>
<body>
     <nav>
          <img class="logo" src="../img/flyingtodologo.png">
          <p class="buttonadd" id="uploadbutton">+</p>
          <p class="buttonreset" id="resetbtn">X</p>
     </nav>

     <section>
          <h1>Bienvenue sur FlyingToDo !</h1>
          <div class="containerx" id="pretodo">
          </div>

          <div class="containertodo">
              
          </div>
     </section>

</body>
</html>