<section class="containerimportanttodos">
     <h1>Welcome on FlyingToDo !</h1>

     <div class="notebundle">
          <p class="titlemain">Notes</p>
          <button class="addnotebtn" onclick="createNewNote()">New Note</button>
     </div>

     <div class="containernotes" id="containernotes"></div>

     <div class="todobundle">
          <p class="titlemain destodos">TODO</p>
          <button class="addtodobtn">New Todo</button>
     </div>

     <!-- ! Container PRETODO -->
     <div class="containerx">
          <div class="pretodo" id="pretodo">
               <input type="checkbox" id="precheck" />
               <input class="iteminput" id="inputpretodo" placeholder="Entrez Votre Todo" />
               <img class="itemdel" src="../img/bin.png" id="binpretodo" />
          </div>
          <p class="enterText">Tips: Press Enter to create your todo!</p>
     </div>

     <!-- ! Container TODO -->
     <div class="containertodo"></div>
</section>
